* {
    margin: 0;
    padding: 0;
}

.keyword {
    display: none;
}

.small_screen {
    left: 99% !important;
}

.video-it {
    position: relative;
}

.v-count {
    text-align: left;
    position: absolute;
    top: 134px;
    width: 97.5%;
    background-image: linear-gradient(0deg, rgba(160, 163, 165, 0.84) 20%, rgba(246, 246, 246, 0.2) 100%);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.v-count a {
    margin-left: 10px;
}

.v-count a span {
    color: #ffffff;
}

.v-count a i {
    color: #f6f6f6;
}

.inl {
    display: inline-block !important;
}

.video-type {
    margin-top: 50px;
}

.video-type h1 {
    text-align: left;
    padding-left: 25px;
}

.desc {
    width: 98%;
    text-align: left;
    padding-left: 5px;
    height: 39px;
    overflow: hidden;
}

.video-it {
    width: 260px;
    height: 156px;
    padding-left: 7px;
    position: relative;
}

.video-it-it {
    width: 264px;
    height: 156px;
    padding-left: 7px;
    position: relative;
}

a {
    text-decoration: none;
}

a {
    cursor: pointer;
    cursor: hand;
}
